name: Package Action
run-name: Create a package containing just the source files required to consume the library.
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build-package:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Buiding package contining just the source files."
      - name: Check out repository code
        uses: actions/checkout@v4
      - run: mkdir -p package
      - run: cd package
      - run: zip NTLib-src.zip ./modules/** ./include/** CMakeLists.txt LICENSE
      - run: cd ..
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./package
          destination_dir: ./package